.form{
  display:flex;
    flex-direction: column;
  /*width:100%;*/
  margin:auto;
  justify-content: space-around;
  align-items: center;
  height:60%;

}
/*}*/
/*}*/
@media (max-width: 768px) {
  .form{
    margin:0 15px -35px 15px;
/*height:100vh;*/
    width:fit-content;
    /*align-content: space-evenly;*/
  }
}
.usersheet .space-between{
  display:flex;
  justify-content: space-between;
}
