@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.butt-beginner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    font-size: 1.5vw;

}

.butt-beginner .video {
    grid-area: 1 / 1 / 2 / 2;
}

.butt-beginner video,
.butt-beginner img {

    /*height:100%;*/
    width: 90%;
    /*height:fit-content;*/
}

.butt-beginner .under-video {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 100vh;
}

.butt-beginner .description {
    line-height: 3rem;
width: fit-content;
}

.butt-beginner .under-video .next {
    text-align: center;
}

@media (max-width: 889px) {

    .butt-beginner {
        display: flex;
        flex-direction: column;
        font-size: 3vw;
    }

    .butt-beginner .video {
        text-align: center;
    }

    .butt-beginner .under-video {
        height: 40vh;
        position: fixed;
        top: 60%;
        line-height: 3rem;
        align-items: center;
        width: 100vw;
        display: flex;
        justify-content: space-around
    }

}


/*.butt-beginner {*/
/*    font-size: 2.6vw;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    display: flex;*/
/*    !*flex-direction: column-reverse;*!*/
/*}*/

/*. butt-beginner .video {*/

/*    width: 100vw;*/
/*    height: 50vh;*/

/*}*/

/*.butt-beginner video {*/
/*    position: fixed;*/
/*    !*top: 0;*!*/
/*    width: 100%;*/
/*    height: 60%;*/
/*}*/

/*.butt-beginner img {*/
/*    !*padding: 0 15vw;*!*/
/*    position: fixed;*/
/*    !*!*top: 0;*!*!*/
/*    width: 100%;*/
/*    height: auto;*/
/*    !*margin:auto;*!*/
/*}*/

/*.butt-beginner .under-video {*/
/*    position:fixed;*/

/*    width: 100%;*/
/*    display: flex;*/
/*    !*align-content: space-around;*!*/
/*    !*justify-content: space-around;*!*/
/*    flex-direction: column;*/
/*    !*top:60%;*!*/
/*}*/
/*.butt-beginner .under-video .skip{*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    margin:0 7vw ;*/
/*}*/
/*.butt-beginner .under-video .next {*/
/*    display:flex;*/
/*    width:fit-content;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    margin:4vw auto;*/

/*}*/
/*@media only screen and (max-width: 600px) {*/
/*    .butt-beginner img {*/
/*    padding: 0 5vw;*/
/*    }*/
/*    .butt-beginner .under-video .skip{*/
/*margin:20vw 0*/
/*    }*/
/*    }*/
/*@media only screen and (min-width: 600px) {*/
/*    .video {*/
/*        width: 75%;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*    .video {*/
/*        width: 75%;*/
/*    }*/
/*}*/
