*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
         font-size: 1.2rem;
width:100vw;
    height:100vh;
}
.cont .usersheet{
    margin:15px
}
.cont .title{
    align-items: center;
    padding:20px
}
.cont .usersheet .space-between{
    display:flex;
    justify-content: space-between;
}
